@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* Input focus styles */
input:focus + .input-text{
  @apply text-teal-500
}

input:focus + .input-text,
input:not(:placeholder-shown) + .input-text {
  @apply  bg-white transform -translate-y-6 -translate-x-4 text-sm;
}

/* Initial label styles */
.input-text {
  transition: all 0.2s ease;
}
